body{
    background-image: url(./imagenes/aro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.boton{
    background-color: rgb(255, 255, 255);
    border: .5px solid rgb(255, 255, 255);
    padding: 10px;
    color: black;
}


.boton1{
    color:  rgba(0, 0, 0, 0.445);
    font-size: 25px;
    
}

.todo{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.contenedor{
    background-color: rgba(248, 248, 248, 0.445);
    width: 20rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.145);
    padding: 1rem;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue;
}

.barra {
    border-style: none;
    background-color: rgb(235, 235, 235);
    padding: 8px;
    width: 300px;
    margin-bottom: 10px;
}